In [1]:
import pandas as pd
df = pd.read_excel("Clientes.xlsx")

In [11]:
df.head()

,ID Entidade,Tipo,Nome,Idade,Genero,Sobrenome,Email,Pontos,Teste
0,1,EA,Bea,25,F,Gomes,email@email.com,45,0
1,2,EP,Fhelipe,24,M,Rodrigues,email@email.com,28,0
2,3,EA,Tania,24,F,Arruda,email@email.com,45,0
3,4,EP,Weslley,23,M,Ferreira,email@email.com,35,0
4,5,EP,Bianca,23,F,Gomes,email@email.com,29,0

In [ ]:
condicao = df.Tipo == "EA"

#df[condicao]
#&
#df[(df.Tipo == "EA")&(df.Idade <25)]

#OU
#df[(df.Level == "primary")|(df.Level == "tertiary")]

#OS DOIS UNIDOS
df[(df.Tipo == "EA")& ((df.Level == "primary")|(df.Level == "tertiary"))]

In [ ]:
colunas = ["Nome", "Sobrenome"]

df[(df.Tipo== "EA") & (df.Idade <25)][["Nome","Sobrenome"]]
#OU
df[(df.Tipo=="EA")&(df.Idade<25)][colunas]

In [ ]:
#Ou de preguicoso
df[(df.Tipo=="EP") & (df.Level.isin(["primary","secundary"]))]

In [ ]:
#definindo uma media
df.groupby("Tipo")[["Idade","Pontos"]].mean()
#mean - valor medio
df.Idade.mean()
# max - valor maximo
df.Idade.max()
# min - valor minimo
df.Idade.min()

In [ ]:
#c
df.groupby(["Tipo","Level"])["Idade"].mean()

In [29]:
colunas =["Pontos","Tipo"]
df[((df.Idade >=23)&(df.Idade <=24))& (df.Tipo.isin(["EA","EP"]))][colunas].groupby("Tipo").mean()

         Pontos
Tipo
EA    45.000000
EP    30.666667