In [2]:
import pandas as pd

In [7]:
#esse Ã© possivel ter um NaN
s1 = pd.Series([1,2,3], name = "c1")
s2 = pd.Series([10,10,20,30], name = "c2")

p = pd.DataFrame({s1.name: s1, s2.name: s2})

In [ ]:
#conferencia de tipo
#formula para data frame
type(p[["c2"]])
#formula para series
type(p["c2"])

In [8]:
#utilizando o mean
#criando uma coluna q para atrapalhar a operacao
p["c3"] = "juninho"

In [9]:
p["media"] = p[["c1", "c2"]].mean(axis =1, skipna=True)

In [ ]:
p.insert(1,"valor1", "teste")
del p["media"]
#remove mas guarda os valore par se vc quiser trabalhar com eles depois
a = p.pop("valor1")

In [ ]:
planilha = {"imovel": ["casa", "apartamento", "casa", "casa"], "preco": ["R$1000", "R$540", "R$4,175", "R$2,010"]}

df = pd.DataFrame(planilha)

In [ ]:
df["preco"].apply(lambda x: x. replace"R$", ""))
df["preco"].apply(lambda x: x.replace("R$","").replace(",",""))
df["preco_tratados"]= df["preco"].apply(lambda x: x.replace("R$","").replace(",",""))

In [ ]:
planilha2 = {
  "imovel": ["casa", "apartamento", "casa", "casa"], 
  "preco": ["R$1000", "R$540", "R$4,175", "R$2,010"],
  "moveis": ["R$1500", "R$2000","R$500", "R$1000"]
}

df2 = pd.DataFrame(planilha2)

In [10]:
p

    c1  c2       c3  media
0  1.0  10  juninho    5.5
1  2.0  10  juninho    6.0
2  3.0  20  juninho   11.5
3  NaN  30  juninho   30.0