In [1]:
import pandas as pd

In [8]:
#criando um dataframe
planilha = {
  "imovel para venda": ["casa", "apartamento", "casa", "casa"], 
  "preco de tabela": ["R$1000", "R$540", "R$4,175", "R$2,010"],
  "moveis presentes": ["R$1500", "R$2000","R$500", "R$1000"]
}

df = pd.DataFrame(planilha)

In [11]:
df.columns.to_list()

['imovel para venda', 'preco de tabela', 'moveis presentes']

In [25]:
df.columns = [x.replace(" ","_") for x in df.columns.to_list()]

In [26]:
base_copia = df.copy(deep = True)

In [27]:
base_copia["preco_tratado"] = base_copia["preco_de_tabela"].apply(lambda x: x.replace("R$","").replace(",","")).astype(int)

In [ ]:
print(base_copia.info())

In [29]:
#criar nova coluna
base_copia.assign(nova_coluna = lambda x: base_copia ["preco_tratado"]+2 )

,imovel_para_venda,preco_de_tabela,moveis_presentes,preco_tratado,nova_coluna
0,casa,R$1000,R$1500,1000,1002
1,apartamento,R$540,R$2000,540,542
2,casa,"R$4,175",R$500,4175,4177
3,casa,"R$2,010",R$1000,2010,2012

In [ ]:
base_copia

In [ ]:
df