In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("modelo.csv", encoding = "UTF-8", sep = ";")

In [5]:
df = pd.read_csv("modelo.csv", encoding = "UTF-8", sep = ";" , header = 1)

In [7]:
df = pd.read_csv("modelo.csv", encoding = "UTF-8", sep = ";", usecols = ["AddressID", "AddressLine1"])

In [9]:
df = pd.read_csv("modelo.csv", encoding = "UTF-8", sep = ";", usecols = ["AddressID", "AddressLine1"], nrows = 2)

In [13]:
df.shape

(1000, 9)

In [10]:
df.head ()

   AddressID        AddressLine1
0          1       1970 Napa Ct.
1          2  9833 Mt. Dias Blv.